*{
    padding: 0;
    margin: 0;
}
a {
    cursor: pointer;
}
.buySellPageWrap {
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
        margin: 0 20px 0 20px;
}
.buySellPageWrap > a {
    width: 24%;
    height: 200px;
    text-decoration: none !important;
}
.buySellPageWrap > a:nth-child(1) {
    /*background-color: black;*/
}
.buySellPageWrap > a > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
     color: white !important;
}
.buySellPageWrap > a {
    transition: all ease-in-out 10s;
}
.buySellPageWrap > a:nth-child(1):hover {
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url(../images/buy-sell.jpg);
}
.buySellPageWrap > a:nth-child(2):hover {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url(../images/meeting.jpg);
}
.buySellPageWrap > a:nth-child(3):hover {
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url(../images/housing.jpg);
}
.buySellPageWrap > a:nth-child(4):hover {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url(../images/jobs.jpg);
}
.buySellPageWrap .buySellWrap {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(../images/buy-sell.jpg);
    background-position: center;
    background-size: cover;
}
.buySellPageWrap .housingWrap {
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(../images/housing.jpg);
    background-position: center;
    background-size: cover;
}
.buySellPageWrap .meetingsWrap {
        background-image:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(../images/meeting.jpg);
    background-position: center;
    background-size: cover;
}
.buySellPageWrap .jobsWrap {
            background-image:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(../images/jobs.jpg);
    background-position: center;
    background-size: cover;
}




