body {
    margin: 40%;
    margin: 50px auto;
    width: 90%;
}
body form.post , body form[name='signUpForm'] {
    background-color: lightblue;
    width: 70%;
    margin: auto;
    padding: .5cm .5cm .5cm .5cm;
    border-radius: 0px;
    margin-top: 200px;
}

fieldset{
    border: none;
}

label {
    color: #000000;
    display: block;
    font-size: 12pt;
    text-align: left;}

legend {
    width: 100%;
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size:14pt;
    padding-bottom: .5em;
}

body form[name='signUpForm'] {
    height: 400px;
}

p{
    padding-left: 40px;
    padding-bottom: 20px;
}

legend{
    margin-bottom: 20px;
}

body form[name='signUpForm'] input, body form[name='signUpForm'] label{
    margin-left: 40px;
    margin-bottom: 20px;
}
