body {
    margin: 40%;
    margin: 50px auto;
    width: 90%;
}
body form.post , body form[name='signUpForm'] {
    background-color: lightblue;
    width: 70%;
    margin: auto;
    padding: .5cm .5cm .5cm .5cm;
    border-radius: 0px;
    margin-top: 200px;
}

fieldset{
    border: none;
}

label {
    color: #000000;
    display: block;
    font-size: 12pt;
    text-align: left;}

legend {
    width: 100%;
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size:14pt;
    padding-bottom: .5em;
}

body form[name='signUpForm'] {
    height: 400px;
}

p{
    padding-left: 40px;
    padding-bottom: 20px;
}

legend{
    margin-bottom: 20px;
}

body form[name='signUpForm'] input, body form[name='signUpForm'] label{
    margin-left: 40px;
    margin-bottom: 20px;
}

#login-button {

  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /*margin: 0.5em;*/
  padding: 0 1.5em;
  border: 1px solid rgba(211,211,211,1);
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  font: normal normal bold 1em/2em Arial, Helvetica, sans-serif;
  color: rgba(114,114,114,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: nowrap;
  background: rgba(234,234,234,1);
  -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,0.8) , 0 1px 0 0 rgba(0,0,0,0.298039) ;
  box-shadow: 0 0 1px 1px rgba(255,255,255,0.8) , 0 1px 0 0 rgba(0,0,0,0.298039) ;
  text-shadow: 0 1px 0 rgba(255,255,255,0.8) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

#login-button:hover {
  cursor: pointer;
  border: 1px solid rgba(178,178,178,1);
  color: rgba(76,76,76,1);
  -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,0.8) inset, 0 1px 0 0 rgba(0,0,0,0.298039) ;
  box-shadow: 0 0 1px 1px rgba(255,255,255,0.8) inset, 0 1px 0 0 rgba(0,0,0,0.298039) ;
}

#login-button:active {
  position: relative;
  cursor: default;
  top: 1px;
  border: 1px solid rgba(211,211,211,1);
  color: rgba(114,114,114,1);
  background: rgba(247,247,247,1);
  -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,0.8) inset, 0 1px 0 0 rgba(0,0,0,0.298039) inset;
  box-shadow: 0 0 1px 1px rgba(255,255,255,0.8) inset, 0 1px 0 0 rgba(0,0,0,0.298039) inset;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}