.banner{
display: block;
height: 150px;
width: 100%;
background-color: green;
position: fixed;
top:0;
left:0;
z-index: 9999;

  box-sizing: border-box;
  transform: translateY(-150%);
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: at-banner-slide-in 1s ease forwards;

background-image: linear-gradient(bottom, white 67.5%, green 32.5%);
background-image: -o-linear-gradient(bottom, white 67.5%, green 32.5%);
background-image: -moz-linear-gradient(bottom, white 67.5%, green 32.5%);
background-image: -webkit-linear-gradient(bottom, white 67.5%, green 32.5%);
background-image: -ms-linear-gradient(bottom, white 67.5%, green 32.5%);
}

@keyframes at-banner-slide-in {
  0% {
    transform: translateY(-150%);
  }
  
  100% {
    transform: translateY(0%);
  }
}

#headerLogo{
    height: 150px;
}

#profileLink{
    float: right;
    height: 32.5%;
    background-color: lawngreen;
    line-height: 45px;
    width:10%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0px 8px 0px 8px;
}

#signUpLink{
    float: right;
    background-color: lawngreen;
    height: 32.5%;
    line-height: 45px;
    color: white;
    font-size: 20px;
    padding: 0px 8px 0px 16px;
}
#settingsIcon{
    height: 32.5%;
    float: right;
    background-color: lawngreen;
    padding: 0px 16px 0px 8px;

}
#settingsIcon img {
    height: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
}


.navBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 150px;
    left: 0px;
    height: 50px;
    width: 100%;

}
.navBar  li {
    float: right;
    list-style: none;
}

.navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.searchListingsPage > input {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color: black;
    background-color: #ccc;
}