@font-face {
    font-family: ArnoProDisplay;
    src: url("Arno-Pro-Light-Display.ttf") format("opentype");
}

.banner{
display: block;
height: 150px;
width: 100%;
background-color: #007155;
position: fixed;
top:0;
left:0;
z-index: 9988;

  box-sizing: border-box;
  transform: translateY(-150%);
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: at-banner-slide-in 1s ease forwards;

background-image: linear-gradient(bottom, white 67.5%, green 32.5%);
background-image: -o-linear-gradient(bottom, white 67.5%, green 32.5%);
background-image: -moz-linear-gradient(bottom, white 67.5%, green 32.5%);
background-image: -webkit-linear-gradient(bottom, white 67.5%, green 32.5%);
background-image: -ms-linear-gradient(bottom, white 67.5%, green 32.5%);
}

@keyframes at-banner-slide-in {
  0% {
    transform: translateY(-150%);
  }
  
  100% {
    transform: translateY(0%);
  }
}

#headerLogo{
    height: 150px;
}

#marketplacetitle{
    padding: 0px;
    letter-spacing: 2px;
    position: absolute;
    left: 131px;
    top: 0px;
    font-size: 43px;
    text-transform: uppercase;
    bottom: 18px;
    color: white;
    text-transform: uppercase;
}

#toplinks{
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    top: 0;
    width: 100%;
    height: 48.75px
}

#profileLink{
    text-align: center;
    float: right;
    line-height: 100%;
    background-color: #66AC47;
    text-align: center;
    color: white;
    font-size: 20px;
    width:10%;
    text-decoration: none;
}
a#profileLink{
    line-height: 48.75px;
}

#signUpLink{
    text-align: center;
    float: right;
    background-color: #66AC47;
    width:10%;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
a#signUpLink{
    line-height: 48.75px;
}
#settingsIcon{
    height: 48.75px;
    width: 48.75px;
    float: right;
    background-color: #66AC47;

}
#settingsIcon img {
    margin: auto;
    height: 80%;
    margin: 10%;
}
#signUpLink:hover, #profileLink:hover, #settingsIcon:hover{
    background-color: #007155;
}


.navBar{
    transform: translateX(-200%);
    animation-delay: 1s;
    animation: at-nav-slide-in 1.5s ease forwards;
    z-index: 9988;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 150px;
    left: 0px;
    height: 50px;
    width: 100%;
    -moz-box-shadow:    0px 2px 5px 0px #333;
    -webkit-box-shadow: 0px 2px 5px 0px #333;
    box-shadow:         0px 2px 5px 0px #333;

}
@keyframes at-nav-slide-in {

  0% {
    transform: translateX(-200%);
  }
  
  100% {
    transform: translateX(0%);
  }
}

.navBar  li {
    float: right;
    list-style: none;
}

.navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navBar li a:hover {
background-color: #3B4B54;
z-index: 9999;
-moz-box-shadow:    0px 5px 5px 0px #3B4B54;
-webkit-box-shadow: 0px 5px 5px 0px #3B4B54;
box-shadow:         0px 5px 5px 0px #3B4B54;
}

#searchBar{
    float: left;
    height: 50px;
}
.searchBar input {
    width:100%;
    height: 50px;
    border: solid black 0px;
    box-sizing: border-box;
    font-size: 16px;
    background-image: url('../images/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    color: black;
    background-color: #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.searchBar > input:focus{
    width: 200%;
    background-image: none;
}



