*{
    padding: 0;
    margin: 0;
}
a {
    cursor: pointer;
}
.housingPageWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin: 40px 20px 0 20px;
    padding-top: 200px;
}
.housingPageWrap > a {
    width: 24%;
    height: 200px;
    text-decoration: none !important;
}
.housingPageWrap > a:nth-child(1) {
    /*background-color: black;*/
}
.housingPageWrap > a > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
     color: white !important;
}
.housingPageWrap > a {
    transition: all ease-in-out 10s;
}
.housingPageWrap > a:nth-child(1):hover {
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url(../images/apartment.png);
}
.housingPageWrap > a:nth-child(2):hover {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url(../images/houses.png);
}
.housingPageWrap > a:nth-child(3):hover {
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url(../images/lofts.png);
}


.housingPageWrap .apartments {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(../images/apartment.png);
    background-position: center;
    background-size: cover;
}
.housingPageWrap .houses {
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(../images/houses.png);
    background-position: center;
    background-size: cover;
}
.housingPageWrap .lofts {
        background-image:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(../images/lofts.png);
    background-position: center;
    background-size: cover;
}

.housingTitle {
    margin-top: 250px;
    text-align: center;
}


