.listingWrap {
    height: 500px;
    display: flex;
    flex-direction: column;
}
.listingWrap > div {
    position: relative;
}
.searchBarWrap {
    background-color: black;
    height: 200px;
}
.itemsListWrap {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 150px;
}
.listingItemContainer {
    height: 300px;
    width: 300px;
    border: 2px solid black;
}
.listingItemContainer > img {
    position: relative;
    height: 70%;
    width: 100%;
}

.searchListingsPage {
    /*background-color: blue;*/
}

