h1.newsInfo{
  margin-top: 200px;
  text-align: center;
  padding: 10px;
}

div.newsWrap {
    background-color: #ADD8E6;
}

#providedby{
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
  text-align: center;
}