*{
    padding: 0;
    margin: 0;
}
a {
    cursor: pointer;
}
p, span, a, div {
    font-family: "adelle-sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.mainWrap {
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
        margin: 150px 20px 0 20px;
}
.mainWrap > a {
    width: 24%;
    height: 200px;
    text-decoration: none !important;
}
.mainWrap > a:nth-child(1) {
    /*background-color: black;*/
}
.mainWrap > a > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
     color: white !important;
}
.mainWrap > a {
    transition: all ease-in-out 10s;
}
.mainWrap > a:nth-child(1):hover {
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url(../images/buy-sell.jpg);
}
.mainWrap > a:nth-child(2):hover {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url(../images/meeting.jpg);
}
.mainWrap > a:nth-child(3):hover {
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url(../images/housing.jpg);
}
.mainWrap > a:nth-child(4):hover {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url(../images/jobs.jpg);
}
.mainWrap .buySellWrap {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(../images/buy-sell.jpg);
    background-position: center;
    background-size: cover;
}
.mainWrap .housingWrap {
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(../images/housing.jpg);
    background-position: center;
    background-size: cover;
}
.mainWrap .meetingsWrap {
        background-image:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(../images/meeting.jpg);
    background-position: center;
    background-size: cover;
}

.watsonPictureInfo {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
}

.mainWrap .jobsWrap {
            background-image:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(../images/jobs.jpg);
    background-position: center;
    background-size: cover;
}

.newsWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color:#ccc;
    color: black;
    text-align: center;
}
.watsonPictureInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
    text-align: left;
    letter-spacing: 0.75px;
    line-height: 20px;
}
.watsonPictureInfo li {
    padding: 10px;
    padding-top: 5px;
}

