*{
    padding: 0;
    margin: 0;
}
.mainWrap {
    background-color: blue;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}
.mainWrap > a {
    width: 24%;
    border: 2px solid black;
    height: 200px;
    background: pink;
}
.mainWrap > a:nth-child(1) {
    /*background-color: black;*/
}
.mainWrap > a > div {
    display: flex;
    justify-content: center;
    align-items: center;
}





