div.userBody {
    width:70%;
    margin:auto;
    background-color: lightblue;
    height:300px;
    text-align: center;
}

div.userHeader div.profPic > img{
    border-radius: 50%;
    width: 100px;
    margin-top: 150px;
    margin-left: 46%;
}

div.userHeader div.name p{
    text-align: center;
}

div.userBody h1{
    margin-top: 30px;
}
